.container {
  display: flex;
  justify-content: center;
}

.post_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  border-radius: 15px;
  width: 500px;
  padding: 15px;
  background-color: #D9D9D9;
  max-height: 500px;
  margin: 25px 25px;
}

.head {
  display: flex;
  align-items: center;
  height: fit-content;
  margin-bottom: 15px;
}

.postTitle > h2 {
  color: black
}

.profile_photo {
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.username {
  color: black;
  opacity: 0.7;
}

.date_posted {
  color: #4D4949;
  font-size: 12px;
}

.post_body {
  display: flex;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  background-color: #ACACAC;
  align-self: center;
  color: black
}

.iconContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.iconContainer > button {
  background-color: transparent;
  border: none;
}

.icons {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.icons:hover {
  background-color: #4D4949;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #363779;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}