
.fieldset {
  display: grid;
  border-radius: 10px;
  width: 100%;
  min-width: 0;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #ffffff;
  color: #111111;
}

.legendText {
  white-space: nowrap;
  font-size: 20px;
}

.img {
  width: 100%;
  max-width: 300px;
  height: auto;
  justify-self: center;
}

/* ------------------------------ Color coding ------------------------------ */

.planet {
  color: darkgoldenrod;
}

.chakra {
  color: deepskyblue;
}

.shape {
  color:cadetblue;
}

.aura {
  color:hotpink
}

/* -------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .legendText {
    font-size: 22px;
  }
}