.carousel_container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
}

.carousel_item {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel_buttons {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.carousel_button {
  cursor: pointer;
  padding: 10px;
  color: black;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.active {
  border: 2px solid #333;
}

.notActive {
  display: none
}

.random {
  background-color: rgb(69, 186, 157);
  color: white
}

@media (max-width: 600px) {
  .carousel-buttons {
    flex-direction: column;
  }

  .carousel-button {
    width: 100%;
    margin-bottom: 5px;
  }
}
